.container{
    border: 2px solid red;
    height: 400px;
    width: 100%;
    display: flex;
   /* flex-direction: row-reverse;*/
   justify-content: space-around;
   align-items: center;

}
.item{
    background-color: bisque;
    border: 1px solid black;
    height: 60px;
    width: 60px;
    margin:20px 0px 0px 20px;

}